.contact_section,
.open_time {
    display: flex;
}
.contact_section {
    background-color: $brown;
    flex-wrap: wrap;
}

.contact_left {
    width: 50%;
    padding: 7%;

    @include for-tablet-portrait-up {
        flex-shrink: 1;
        flex-grow: 10;
        flex-basis: 450px;
    }

    @include for-phone-only {
        margin: 0px auto;
        width: 43vh;
    }

    p,
    h3 {
        color: $cream;
    }

    h3 {
        margin-top: 0px;
        font-size: $fontMd;
        margin-bottom: 10%;
        @include for-phone-only {
            margin-bottom: 5%;
        }
    }

    .contact_container {
        color: $cream;
    }

    ul {
        margin: 0%;
        @include for-phone-only {
            margin-bottom: 4%;
        }
    }

    li + li {
        margin-top: 10%;
        @include for-phone-only {
            margin-top: 7%;
        }
    }
}

.contact_right {
    width: 50%;

    @include for-phone-only {
        display: none;
    }

    @include for-tablet-portrait-up {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 300px;
    }

    .frame_parent {
        width: 100%;
        @include for-tablet-portrait-up {
            padding-left: 10%;
        }
    }

    iframe {
        margin: 5%;

        @include for-tablet-landscape-up {
            border: 0;
            width: 400px;
            height: 350px;
        }

        @include for-tablet-portrait-up {
            width: 400px;
            height: 350px;
            border: 0;
        }
    }
}
