html,
body,
.top,
.about_section {
    @include heightMax;
}

body {
    font-family: $alegreya;
    font-weight: lighter;
    position: relative;
}

p {
    margin: 0%;
}

ul {
    list-style: none;
    padding: 0px;
}

.centralize {
    @include centralize;
}

.left_top {
    top: 0;
    left: 0;
    @include flowers;
}

.left_bottom {
    bottom: 0%;
    left: 0;
    @include flowers;
}

.right_top {
    top: 0;
    right: 0;
    @include flowers;
}

.right_bottom {
    bottom: 0%;
    right: 0;
    @include flowers;
}

.images,
.img {
    @include widthMax;
    @include heightMax;
}

.top {
    color: $white;
    background-color: $vividOrange;
    position: relative;

    .centralize {
        text-align: center;
    }

    p,
    h1 {
        @include for-phone-only {
            text-align: center;
        }
    }

    p {
        margin: 0%;
        font-size: $fontSm;
        letter-spacing: 1.8rem;
        text-align: left;
        font-family: $cormorant;
    }

    h1 {
        font-size: $fontLg;
        margin: 0%;
        font-family: $cormorant;
        font-weight: bold;
    }
}
