@import "variable";
@import "mixins";

html,
body,
.top,
.about_section {
  @include heightMax;
}

body {
  font-family: $cormorant;
  font-weight: lighter;
  position: relative;
}

p {
  margin: 0%;
}

ul {
  list-style: none;
  padding: 0px;
}

.centralize {
  @include centralize;
}

// FLOWER
.left_top {
  top: 0;
  left: 0;
  @include flowers;
}

.left_bottom {
  bottom: 0%;
  left: 0;
  @include flowers;
}

.right_top {
  top: 0;
  right: 0;
  @include flowers;
}

.right_bottom {
  bottom: 0%;
  right: 0;
  @include flowers;
}

.images,
.img {
  @include widthMax;
  @include heightMax;
}

// TOP PAGE
.top {
  color: $white;
  background-color: $vividOrange;
  position: relative;

  .centralize {
    text-align: center;
  }

  p,
  h1 {
    @include for-phone-only {
      text-align: center;
    }
  }

  p {
    margin: 0%;
    font-size: $fontSm;
    letter-spacing: 0.8rem;
  }

  h1 {
    font-size: $fontLg;
    margin: 0%;
  }
}

/* about page */
.about_section {
  display: flex;
  flex-wrap: wrap;
}

.about_left,
.about_right {
  width: 50%;
  position: relative;
}

.about_left {
  background-color: $turqouise;

  @include for-phone-only {
    height: 70%;

    flex-grow: 99999;
    flex-shrink: 1;
    flex-basis: 400px;
  }

  h1 {
    font-size: $fontMd;
    color: $darkerGreen;

    @include for-phone-only {
      font-size: $fontSm;
    }
  }

  ul {
    color: $lighterCream;
  }
}

.about_right {
  position: relative;
  background-color: $cream;

  @include for-phone-only {
    height: 30%;
    flex-grow: 1;
  }

  .about_images {
    display: flex;

    @include for-phone-only {
      width: 25%;
      transform: rotate(90deg);
      transform-origin: top;
    }

    img {
      width: 100%;
    }
  }
}

/* menu page */
.menu_section_back_pic {
  @include parallax;
  background-image: url("../img/menu_backg.jpg");

  @include for-phone-only {
    display: none;
  }
}

.position_relative {
  height: 100%;
  position: relative;
}

.indent {
  z-index: 5;
  position: absolute;
  left: 7%;
}

.menu_section {
  height: 1400px;
  background-color: #f0a830;

  @include for-phone-only {
    height: 640px;
  }

  .menu_pic1 {
    left: 26%;
    z-index: 2;
    @include menu_pic(-171px, 450px, 350px, -15px 15px $darkerGreen);
    object-fit: fill;

    @include for-phone-only {
      display: none;
    }
  }

  .menu_pic2 {
    right: 0;
    object-fit: fill;
    @include menu_pic(-350px, 750px, 500px, -15px 15px $maccha);

    @include for-phone-only {
      display: none;
    }
  }

  h1 {
    font-size: $fontXl;
    color: $lighterCream;
    margin: 0%;
    margin-bottom: 0.7em;
    margin-top: 0.5em;
    letter-spacing: 0.2em;

    @include for-phone-only {
      font-size: $fontMd;
    }
  }

  p {
    width: 40%;
  }
}

.listbar_and_menu {
  position: relative;
  margin-top: 2em;
  color: $deepGreen;

  .menu_list_bar {
    z-index: 60;
    margin-left: -12%;
    width: 130%;
    padding-left: 5%;
    position: sticky;
    top: 0;
    max-width: 1045px;
    background-color: $lighterCream;
    @include for-phone-only {
      display: none;
    }
  }

  ul {
    margin: 0;
    display: flex;
    padding: 1.5% 0;
    font-size: $fontSm;
  }

  li {
    margin-right: 3%;

    @include for-tablet-portrait-up {
      font-size: 1rem;
    }
  }
}

.menu {
  display: flex;
  margin-top: 3em;
  color: $deepGreen;

  @include for-phone-only {
    display: none;
  }

  .menu1,
  .menu2 {
    width: 50%;
  }

  .menu1 {
    margin-right: 16%;

    @include for-phone-only {
      margin-right: 5%;
    }
  }

  .each_genre {
    margin-bottom: 3em;
  }

  h3 {
    font-size: $fontMd;
    margin-bottom: 0.3em;
  }

  p + p {
    margin-top: 5%;
  }
}

.mb-menus {
  display: none;

  @include for-phone-only {
    display: block;
    position: absolute;
    left: -7%;
  }

  .mb-menu {
    width: 100%;
  }

  button {
    width: 100%;
    background-color: $deepGreen;
    color: $cream;

    &:hover {
      opacity: 0.8;
      background-color: $deepGreen;
    }

    &:focus {
      opacity: 0.8;
      background-color: $maccha;
    }
  }

  .dropdown-menu {
    background-color: $maccha;
  }

  .dropdown-item {
    background-color: $maccha;
  }
}

/* review page */
.review_section_back_pic {
  @include parallax;
  background-image: url("../img/review_backg.jpg");

  @include for-phone-only {
    display: none;
  }
}
.review_section {
  background-color: $cream;
  height: 800px;

  .review_pic1 {
    left: 26%;
    z-index: 2;
    @include menu_pic(-171px, 450px, 350px, -15px 15px $turqouise);

    @include for-phone-only {
      display: none;
    }
  }

  .review_pic2 {
    right: 0;
    @include menu_pic(-350px, 750px, 550px, -15px 15px $vividOrange);

    @include for-phone-only {
      display: none;
    }
  }

  .indent {
    @include for-tablet-portrait-up {
      margin-top: 5%;
    }
    @include for-phone-only {
      margin-top: 5%;
    }
  }

  h1 {
    font-size: $fontXl;
    color: $brown;
    margin: 0%;
    margin-bottom: 0.7em;
    padding-top: 0.5em;
    letter-spacing: 0.2em;

    @include for-tablet-portrait-up {
      font-size: $fontLg;
    }

    @include for-phone-only {
      font-size: $fontMd;
    }
  }

  p {
    width: 40%;
    margin-bottom: 3%;
  }

  .go_to_fb {
    width: 15%;
    height: 48px;
    border-radius: 0;
    color: $deepGreen;
    border: 5px solid $deepGreen;
    padding: 5px;

    &:hover {
      background-color: $deepGreen;
      color: $cream;
      border: 5px solid $deepGreen;
    }

    @include for-tablet-portrait-up {
      margin-top: 5%;
      width: 30%;
    }

    @include for-phone-only {
      margin-top: 5%;
      width: 30%;
    }
  }
}

/* contact page */
.contact_section,
.open_time {
  display: flex;
}
.contact_section {
  background-color: $brown;
  flex-wrap: wrap;
}

.contact_left {
  width: 50%;
  padding: 7%;

  @include for-tablet-portrait-up {
    flex-shrink: 1;
    flex-grow: 10;
    flex-basis: 450px;
  }

  @include for-phone-only {
    width: 100%;
  }

  p,
  h3 {
    color: $cream;
  }

  h3 {
    margin-top: 0px;
    font-size: $fontMd;
    margin-bottom: 10%;
  }

  .contact_container {
    color: $cream;
  }

  ul {
    margin: 0%;
  }

  li + li {
    margin-top: 10%;
  }
}

.contact_right {
  width: 50%;

  @include for-phone-only {
    display: none;
  }

  @include for-tablet-portrait-up {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
  }

  .frame_parent {
    width: 100%;
    @include for-tablet-portrait-up {
      padding-left: 10%;
    }
  }

  iframe {
    margin: 5%;

    @include for-tablet-landscape-up {
      border: 0;
      width: 400px;
      height: 350px;
    }

    @include for-tablet-portrait-up {
      width: 400px;
      height: 350px;
      border: 0;
    }
  }
}
